<footer class="main-site-footer">
  <div class="footer__top">
    <h3>
      All ideas streamlined into a single flow of creativity.
    <br>
      We are proud to present Smiltė.
    </h3>
  </div>
  <div class="footer__bottom">
    <span class="footer__company-info">
      <h4>About us</h4>
      <p>Lorem Ipsum dolor sit</p>
      <p>Copyright Qode Interactive</p>
    </span>
    <span class="footer__company-info">
      <h4>LA offices</h4>
      <p>smilte@qode.com</p>
      <p>Copyright Qode Interactive</p>
    </span>
    <span class="footer__company-info">
      <h4>SF offices</h4>
      <p>smilte@qode.com</p>
      <p>Copyright Qode Interactive</p>
    </span>
    <span class="footer__company-info">
      <h4>NY offices</h4>
      <p>smilte@qode.com</p>
      <p>Copyright Qode Interactive</p>
    </span>
  </div>
</footer>
