.main-site-footer {

  background-color: pink;

}

.footer__top {

  width: 40%;

  padding-left: 27.5%;
}

.footer__bottom {
  display: flex;
  justify-content: center;
}

.footer__company-info {
  margin: 0 25px;
}

