.main-site-container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;

	// display: flex;
	// flex-direction: column;
}

.main-site-top {
	width: 100%;

	display: flex;
	align-content: stretch;
}

.top-left {
	width: 50%;
	height: 100%;

	align-self: stretch;

}

.top-right {
	width: 50%;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}


.main-site-middle {
	width: 100%;
}

.main-site-bottom {
	width: 100%;
	display: flex;
}

.main-site__bottom-left {
	width: 50%;

	display: flex;
	flex-direction: column;
}

.bottom-left__top {
	width: 100%;

	display: flex;
}

.bottom-left__bottom {
	width: 100%;
}

.main-site__bottom-right {
	width: 50%;

}
